.body{
    margin: 5% 30% 10% 30%;
    padding: 0 0 2% 0;
    border: 2px solid rgb(223, 223, 223);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title_section{
    margin: 5%;
}
    .title_section h1{
        text-align: center;
    }
input[type=text], select, textarea {
    width: 98%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
#email, #message, label{
    margin: 0 0 2% 1%;
}
#message::-moz-placeholder{
    font-family: 'Dongle', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
#submit{
    margin: 0 0 0 78%;
}
button[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button[type=submit]:hover {
    background-color: #327235;
}
@media only screen and (max-width: 900px){
    .body{
        margin: 5% 20% 10% 20%;
    }
    #submit{
        width: 40%;
        margin: 0 0 0 55%;
    }
}
@media only screen and (max-width: 600px){
    .body{
        margin: 5% 10% 10% 10%;
    }
    #submit{
        width: 98%;
        margin: 0 0 0 1%;
    }
}